.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 960px; /* or whatever size you want */
  }
  
  .cell {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #ccc;
    width: 25px;
    height: 25px;
  }

  .buttonContainer {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;

  }
  